.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: var(--fw-semibold);
  line-height: 1;
  text-transform: uppercase;
}

.red {
  background-color: var(--accent-red);
  color: var(--primary-text);
}

.white {
  background-color: var(--white-e5);
  color: var(--secondary-text);
}
